$boldFont: 'boldFont';
$boldFont-path: '../../../RMNeueTRIAL-Bold.otf';
$regularFont: 'regularFont';
$regularFont-path: '../../../RMNeueTRIAL-Regular.otf';
$lightFont: 'lightFont';
$lightFont-path: '../../../RMNeueTRIAL-Light.otf';

// COLORS
$white: #FFFFFF;
$gray-1: #DDDDDD; //rgb(221, 221, 221)
$gray-2: #EBEBEB; 
$gray-3: #6A6A6A;
$gray-4: #515151;
$gray-5: #272626; //rgb(39, 38, 38)
$black: #000000;
$wood: burlywood;
$palette-hof: #222222;
$gray-bobo: #B0B0B0;
$palette-faint: #F7F7F7;

//TESTING COLOURS
$gray-6: #77726c;
$gray-7: #202123;
//boxes and cards
$gray-8: #3a3a3a;
$colorga: #202224f0;
$gray-9: #8e9294;
//BUTTONS LINKS
$yellow: #f1a800;
$yellow-2: #b88b4a;

// Tiltles headers
$yellow-3: #d3c7a1;
$yellow-4: #dcbf94;
$yellow-5: #bcb5b1;

$white-2: #f7f6f5;


$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;